<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<h3>
    Current Customers Here:
</h3>

<h4 name="ere">
    <br>
    <form action="/DudeScanner" method="POST">
        Place Cursor on Text and Click, Scan To Enter ID <input type="text" id="IDText" name="tooot"></input>
    </form>
    <br>
    Misplaced Your Tag?
    Enter your full name and last name initial below!
    <form action="/DudeScanner" method="POST">

    </form>
</h4>
<body>
    LIST OF PEOPLE OUT: <br>
    -------------------------------
    <% for (let i=0; i < ejsData.students.length; i++) { %>
        <% if (ejsData.students[i].id == Here) { %>
            <br>
            <% if (ejsData.students[i].status == "Leaving") { %>
                <br> <br> Last ID: <%= //Here; %> <br>
                <% ejsData.students[i].status = "Back Here" %>
                Last Person: <%= //ejsData.students[i].name %>
                <br>
                Last Status: <%= //ejsData.students[i].status %>
                <% break; %>
            <% } %>
            <% if (ejsData.students[i].status == "Back Here") { %>
                <br> <br> Last ID: <%= Here; %> <br>
                <% ejsData.students[i].status = "Leaving" %>
                Last Person: <%= ejsData.students[i].name %>
                <br>
                Last Status: <%= ejsData.students[i].status %>
                <% break; %>
            <% } %>
        <% } %>
    <% } %>
    <br> <br> 
    LIST OF PEOPLES:
    <br>
    -------------------------
    <br>
    <br>
    <% for (let i=0; i < ejsData.students.length; i++) { %>
        Name: <%= ejsData.students[i].name %> <br>
        ID: <%= ejsData.students[i].id %> <br>
        Status: <%= ejsData.students[i].status %> <br>
        <br>
    <% } %>
</body>

</html>